
<h2 mat-dialog-title>Editar Contenido</h2>
<mat-dialog-content class="mat-typography">
  <div class="container-fluid">
  
    <div *ngIf="loading" class="loader">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
      <div class="bar4"></div>
      <div class="bar5"></div>
      <div class="bar6"></div>
      <div class="bar7"></div>
      <div class="bar8"></div>
      <div class="bar9"></div>
      <div class="bar10"></div>
      <div class="bar11"></div>
      <div class="bar12"></div>
  </div>

    <div class="card-body flex-grow-1">
      <div class="col-md-12">
        <form *ngIf="!loading" [formGroup]="formEdit">
          <div class="row">
            <div class="col-md-12">
              <div class="example-container">

                <div class="form-container">
                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Materia</mat-label>
                    <mat-select formControlName="subject_id">
                      <mat-option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.title }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Nivel del Contenido</mat-label>
                    <mat-select formControlName="content_level_id">
                      <mat-option *ngFor="let level of levels" [value]="level.id">{{ level.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Tipo de Contenido</mat-label>
                    <mat-select formControlName="content_type_id">
                      <mat-option *ngFor="let type of types" [value]="type.id">{{ type.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="form-container">

                  <mat-form-field class="w-100">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name">
                  </mat-form-field>

                  <mat-form-field class="w-100">
                    <mat-label>Frecuencia de Uso</mat-label>
                    <input matInput formControlName="usage_level">
                  </mat-form-field>
                </div>

                <h2 *ngIf="content?.subject_content_images?.length! > 0">Galería de Imagénes</h2>

                <div class="preview-images" style="margin-top: 10px;">
                  <div *ngFor="let image of content?.subject_content_images">

                    <mat-card class="preview-card">
                      <img [src]="image.path | img" alt="Imagen de {{ content.name }}">
                    </mat-card>

                    <mat-card-actions style="margin-left: -5px; margin-top: -8px;">
                      <button mat-fab color="warn" (click)="deleteImage( image?.id! )" class="small-button">
                        <i class="fa fa-trash"></i>
                      </button>
                    </mat-card-actions>
                  </div>
                </div>

                <h2 *ngIf="content?.subject_content_images?.length! > 0">Agregar Nuevos</h2>
                <div class="d-flex">
                  <button class="custom-color-add" mat-raised-button style="margin-right: 5px;" color="primary"
                    onclick="document.getElementById('fileInput').click();">
                    Imágenes <i class="fas fa-camera"></i>
                  </button>
                  <input type="file" id="fileInput" (change)="onFileSelected($event)" multiple style="display: none;">

                  <input type="file" id="fileInputDoc" (change)="onFileSelectedDocs($event)" style="display: none;" />
                  <button class="custom-color-add" mat-raised-button style="margin-right: 5px;" color="primary"
                    (click)="triggerFileInput()">
                    Documento <i class="fas fa-file-word"></i>
                  </button>
                  <span *ngIf="selectedFileDocs">{{ selectedFileDocs[0].name }}</span>
                </div>

                <div class="preview-images" style="margin-top: 10px;">
                  <div *ngFor="let previewImg of previewImgs; let i = index">

                    <mat-card class="preview-card">
                      <img [src]="previewImg" alt="Preview Image">
                    </mat-card>

                    <mat-card-actions style="margin-left: -5px; margin-top: -8px;">
                      <button mat-fab color="warn" (click)="removeImage(i)" class="small-button">
                        <i class="fa fa-trash"></i>
                      </button>
                    </mat-card-actions>

                  </div>
                </div>

                <mat-form-field class="w-100">
                  <mat-label>Detalles</mat-label>
                  <textarea matInput formControlName="description" rows="9" required></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button class="custom-color-add" (click)="onEdit()" type="submit" [mat-dialog-close]="true"
    cdkFocusInitial color="primary"><i class="fas fa-check"></i></button>
  <button mat-raised-button color="warn" mat-dialog-close><i class="fas fa-times"></i></button>
</mat-dialog-actions>