
<div class="sidebar" data-color="purple" data-background-color="black" 
                     [style.background-image]="'url(../assets/img/long-exposure-road-path-4k-t3.jpg)'"
                     style="background-size: cover; background-position: center;">
  <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
  <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
      Fast Learning
    </a></div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active  ">
        <a class="nav-link" href="./dashboard.html">
          <i class="fas fa-th"></i>
          <p>Inicio</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./user.html">
          <i class="fas fa-book-open"></i>
          <p>Materias</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./user.html">
          <i class="fas fa-book"></i>
          <p>Contenidos</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./user.html">
          <i class="fas fa-book"></i>
          <p>Contenidos</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./user.html">
          <i class="fas fa-book"></i>
          <p>Contenidos</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./user.html">
          <i class="fas fa-book"></i>
          <p>Contenidos</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./user.html">
          <i class="fas fa-book"></i>
          <p>Contenidos</p>
        </a>
      </li>      
    </ul>
  </div>
</div>
